.gearContainer {
  max-width: 1109.83px;
  margin: 160px auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gearMain p {
  max-width: 445px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--dark-black);
  opacity: 50%;
}

.gearMain h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  color: var(--dark-black);
  max-width: 445px;
  width: 100%;
  margin-bottom: 32px;
}

.gearMain span {
  color: var(--orange);
}

@media (max-width: 1200px) {
  .gearContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 790px) {
  .gearContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 105px 0px;
  }
  .gearMain h2 {
    max-width: 80%;
    margin: 0 auto;
  }

  .gearMain p {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 32px;
  }

  .gearMain {
    text-align: center;
  }
}

@media (max-width: 768px) {
}
