.productWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 160px;
  gap: 40px;
}

.productTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  width: 280px;
  margin-top: 16px;
}

.productDescription {
  opacity: 50%;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-black);
  max-width: 445px;
  width: 100%;
  margin: 32px 0 40px;
}

.productLabel {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--orange);
}

@media (max-width: 1200px){
  .productWrapper{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1000px){
  .productWrapper{
    padding-left: 40px;
    padding-right: 40px;
  }

  .productImage{
    width: 100%;
  }
}

@media (max-width: 790px){
  .productWrapper{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 105px;
  }
  .productTitle{
     width: 100%;
  }

  .productDescription{
    max-width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

@media (max-width: 570px){
  .productDescription{
    max-width: 100%;
  }
}