.productWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 160px;
}

.productTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  width: 280px;
  margin-top: 16px;
}

.productDescription {
  opacity: 50%;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-black);
  width: 445px;
  margin: 32px 0 40px;
}

.productLabel {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--orange);
}
