.categories {
  max-width: 1109.83px;
  margin: 80px auto 0;
}

.categoryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.card {
  width: 350px;
  height: 204px;
  border-radius: 8px;
  background-color: var(--gray);
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 116px 0 30px;
}

.cardImage {
  position: absolute;
  top: -38%;
  left: 32%;
}

.cardTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.29px;
  text-transform: uppercase;
  color: var(--dark-black);
  margin-bottom: 13px;
}

.cardShop {
  color: var(--dark-black);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 50%;
  text-align: center;
  text-decoration: none;
  margin-right: 13px;
}

.cardShop:hover{
  color: var(--orange);
  transition: 0.3s;
}

@media (max-width: 1200px){
  .categories{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1100px){
  .card{
    width: 300px;
  }
}

@media (max-width: 1050px){
  .card{
    width: 280px;
  }
}

@media (max-width: 978px){
  .categoryWrapper{
    gap: 15px;
  }
}

@media (max-width: 940px){
  .card{
    width: 260px;
  }
  .cardImage{
    width: 45%;
  }
}

@media (max-width: 890px){
  .card{
    width: 240px;
  }
}

@media (max-width: 830px){
  .card{
    width: 223px;
  }
}

@media (max-width: 768px){
  .categoryWrapper{
    gap: 10px;
  }
}